.column-flex {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.row-flex {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

/* Pixel-art for pokemon shouldn't look blurry. */
.pixel {
	image-rendering: pixelated;
}
.double-size {
	scale: 2;
	margin: 4rem;
}

label {
	font-size: 2rem;
}

section {
	padding: 0.5rem;
	background-color: black;
	border-radius: 8px;
}