.column-flex {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.row-flex {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

/* Pixel-art for pokemon shouldn't look blurry. */
.pixel {
	image-rendering: pixelated;
}

label {
	font-size: 2rem;
}